.post{
    opacity: 0.5;
     font-size: 15px
}
.hondaCity{
    font-weight: bold !important
}

.cardActionUI{
    list-style-type: 'none'; 
    padding: '0 0 0 10px'
}

.cardActionLI{
    margin-bottom: 10px
}