
    .oldCar {
      padding-top: 30px;
      justify-content: center;
      text-align: center;
      font-weight: normal;
    }
    .underBar {
      width: 70px;
      height: 5px;
      background: blue;
      border-radius: 6px;
      margin: auto
  
    }
  
    .card{
        justify-content: center !important;
        margin: 20px;
    }

    .form{
        justify-content: center !important;
        margin-bottom: 12px;
    }